h1, p {
    text-align: center;
    font-size: 25px;
}

li {
    font-size: 20px;
}

li:hover {
    background-color:#b7b7b7;
}

li:active {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lista {
    list-style: none;
}